/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2, form{
  text-align: center;
}
button{
  display: block;
  margin: 20px auto;
}
/* ul{
  width: 100px;
  height: 200px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
} */
/* li{
  text-align: center;
  width: 94px;
  height: 49px;
  border: 1px solid black;
} */
h2{
  margin: auto;
  font-size: 100px;
  color: red;
  font-weight: bold;
  width: 100vw;
  height:auto;
  /* border: 3px solid red; */
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#placeToSee {
  border-radius: 15px;
  font-family: cursive;
  padding: 15px;
 width: max-content;
 margin: 5px auto;
}
#instructions {
  text-align: left;
  padding-left: 10%;
  color: green;
}
.TODO {
  margin: 0 auto;
  width: 500px;
  border: 3px double rgb(79, 78, 80);
  text-align: left;
}

.TODO>li {
  list-style-type: none;
  text-decoration: none;
  text-decoration-line: none;
  color: rgb(34, 61, 61);
  text-align: center;
  width: auto;
  border: none;
  /* border-bottom: 2px solid blue; */
  font-size: larger;
  line-height: 1.2rem;
  padding: 5px 5px;
}

/* 
Making a clear button
*/

button#clear {
  color: blue;
 
}