 /* Hacked by JOHN Hale */

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}
.main-navigation {
  /* margin: 10px; */
  width:100vw;
  border: 1px solid blueviolet;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
}
.navigation {
  align-items: center;
  justify-content: center;
}
/* nav ul { */
  /* display: inline; */
  /* align-items: center; */
  
/* } */
nav ul li {
  
  list-style-type: none;
  font-size: 1.3rem;
  padding:5px;
  display: inline;
  text-align: center;
}
a {
  text-decoration: none;
}
